.tree-container {
  width: 100%;
  height: 100%;
  background: rgba(242, 245, 251, 1);
  overflow: scroll;

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .ops {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 80%;
    margin: -25px auto 0 auto;

    .close {

      font-size: 20px;
      color: #fff;
      margin-bottom: 5px;
      height: 20px;

      div {
        float: right;
      }
    }

    .close::after {
      clear: both;
      content: '';
    }

    a {
      img {
        width: 100%;
        max-width: 750px;
        height: 100%;
      }
    }
  }

  .tree-header {
    background: linear-gradient(0deg, #E0BB7C 0%, #EFCC96 100%);
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    .tree-notice-box {

      .tree-notice {
        background-color: #fff;
        border-radius: 16px;
        margin: 16px 0;
        padding: 0 15px;

        /deep/.van-notice-bar {
          padding: 0;
          height: 31px;
          background-color: transparent !important;
          font-size: 13px;
          font-weight: 500;
          color: #949494;



          >img {
            width: 14px;
            height: 14px;
            margin-right: 10px;
          }



        }
      }
    }

    .tree-header-swipe {
      height: 167px;
      border-radius: 7px;
      margin-bottom: 10px;

      .bannerSwp {
        width: 100%;
        height: 100%;
        border-radius: 0;

        /deep/.van-swipe {
          width: 100%;
          height: 100%;
          border-radius: 0px;
        }
      }
    }


  }

  .index-menu-list {
    width: 100%;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-icon {
        width: 45px;
        height: 45px;
        background-size: cover;
        background-repeat: no-repeat;

        &.one-icon {
          background-image: url("~@/assets/xinguang/首页 拷贝_slices/组 5013@2x.png");
        }

        &.two-icon {
          background-image: url("~@/assets/xinguang/首页 拷贝_slices/组 5013 拷贝@2x.png");
        }

        &.three-icon {
          background-image: url("~@/assets/xinguang/首页 拷贝_slices/组 5013 拷贝 2@2x.png");
        }

        &.four-icon {
          background-image: url("~@/assets/xinguang/首页 拷贝_slices/组 5013 拷贝 3@2x.png");
        }
      }

      &-text {
        font-size: 12px;
        font-weight: 400;
        color: #787878;
        margin-top: 11px;
      }
    }
  }

  .goods_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 24px;
    background: rgba(242, 245, 251, 1);

    .title {
      font-size: 17px;
      font-weight: bold;
      color: #000000;
      margin: 25px 0 19px 0;
    }

    .contents {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      background: linear-gradient(0deg, #F2F5FB 0%, #FA483C 100%);
      border-radius: 7px;
      padding: 0 12px;

      .contents_title {
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 16px 0 2px 0;
      }

      .item {
        flex: 1 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        margin: 16px 0 0 0;
        border-radius: 4px;
        padding-bottom: 12px;

        &:nth-child(odd) {
          margin: 16px 0 0 10px;
        }

        img {
          width: 137px;
          height: 98px;
        }

        .name {
          width: 100%;
          font-size: 12px;
          font-weight: bold;
          color: #333333;
          padding: 0 6px;
        }

        .info_box {
          width: 100%;
          padding: 0 6px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 4px;

          span {
            font-size: 11px;
            font-weight: bold;
            color: #F81001;
            flex: 1 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &::after {
              content: '积分';
            }
          }

          .btn {
            background: #E0BC7F;
            border-radius: 10px;
            padding: 5px 6px;
            font-size: 10px;
            font-weight: 500;
            color: #FFFFFF;
            transform: scale(10 / 12);
          }
        }
      }
    }
  }

  .index-menu-list-box {
    margin-bottom: 15px;

    .index-menu-info {
      padding: 0 13px;

      .index-menu-info-back {
        height: 277px;
        background-size: cover;
        background-repeat: no-repeat;

        &.info-back-class-1 {
          background-image: url("./../../assets/images/shufeng/index/index-8.png");
        }

        &.info-back-class-2 {
          background-image: url("./../../assets/images/shufeng/index/index-5.png");
        }

        &.info-back-class-3 {
          background-image: url("./../../assets/images/shufeng/index/index-7.png");
        }

        &.info-back-class-4 {
          background-image: url("./../../assets/images/shufeng/index/index-6.png");
        }
      }
    }
  }

  .tree-list-box {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;

    .top {
      width: 337px;
      height: 88px;
    }

    .imgs {
      display: flex;
      margin-top: 16px;

      img {
        flex: 1 0;
        height: 73px;
      }
    }
  }

  //.tree-list-box{
  //    padding: 0 13px;
  //    .tree-list-item{
  //        margin-top: 13px;
  //        padding: 20px 17px 22px 23px;
  //        display: flex;
  //        align-items: center;
  //        width: 348px;
  //        height: 80px;
  //        border-radius: 4px;
  //        &.one{
  //            background: #FFF1EF;
  //        }
  //        &.two{
  //            background: #FFF7E9;
  //        }
  //        &.three{
  //            background: #F5F3FE;
  //        }
  //        &.four{
  //            background: #FEF3FD;
  //        }
  //        &.five{
  //            background: #E5F7FF;
  //        }
  //        &.six{
  //            background: #FFF1EF;
  //        }
  //        .left-icon{
  //            width: 37px;
  //            height: 37px;
  //        }
  //        .list-info{
  //            width: 168px;
  //            margin-left: 16px;
  //            .left-info-title{
  //                font-size: 15px;
  //                font-weight: bold;
  //                color: #182136;
  //            }
  //            .left-info-slogan{
  //                font-size: 14px;
  //                font-weight: 500;
  //                color: #505362;
  //                margin-top: 10px;
  //            }
  //        }
  //        .right-btn{
  //            width: 87px;
  //            height: 29px;
  //            line-height: 29px;
  //            text-align: center;
  //            font-size: 13px;
  //            font-weight: 500;
  //            color: #FFFFFF;
  //            background-size: 100%;
  //            background-repeat: no-repeat;
  //            &.btn-one{
  //                background-image: url('../../assets/images/image/btn_1.png');
  //            }
  //            &.btn-two{
  //                background-image: url('../../assets/images/image/btn_2.png');
  //            }
  //            &.btn-three{
  //                background-image: url('../../assets/images/image/btn_3.png');
  //            }
  //            &.btn-four{
  //                background-image: url('../../assets/images/image/btn_4.png');
  //            }
  //            &.btn-five{
  //                background-image: url('../../assets/images/image/btn_5.png');
  //            }
  //            &.btn-six{
  //                background-image: url('../../assets/images/image/btn_6.png');
  //            }
  //        }
  //    }
  //}
}